a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

body{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    float: right;
    padding: 10px;
}

.search{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.pt-um{
    display: flex;
    align-items: center;
    display: inline-block;
    width: 100%;
}

.one a{
    padding-left: 5px;
    padding-right: 5px;
}

.material-icons{
    padding-left: 5px;
    padding-right: 5px;
}

main img{
    max-width: 400px;
}

.pt-two{
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;
    height: 40%;
}

.search{
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 584px;
    margin-bottom: 25px;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    float: center;
}

.buttons button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    min-width: 54px;
}

.pt-two img{
    margin-top: 200px;
    margin-bottom: 30px;
}

.pt-four{
    display: block;
    flex-grow:  1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 300px;
}

.pt-four p{
    text-align: center;
}

.pt-five{
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    font-family: arial,sans-serif;
    padding-top: 5px;
    color: rgba(0,0,0,.54);
    padding-left: 10px;
}

.bott-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    float: left;
    padding: 10px;
    font-family: arial,sans-serif;
}
.bott-left a{
    padding-right: 15px;
    color: rgba(29, 29, 29, 0.54);
}
.bott-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    float: right;
    padding: 10px;
    font-family: arial,sans-serif;
    color: rgba(41, 41, 41, 0.54);
}
.bott-right a{
    padding-right: 15px;
    color: rgba(29, 29, 29, 0.54);
}
.down{
    background: #f2f2f2;
    display: block;
    flex-grow:  1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 40px;
    border-top: 1px solid #d1d3d4;
    font-size: 15px;
}